@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Familys */
@font-face {
  font-family: "NY-ExtraLarge";
  src: url("./assets/fonts/NY-Extralarge.woff");
}
@font-face {
  font-family: "NY-Medium";
  src: url("./assets/fonts/NY-Medium.woff");
}
@font-face {
  font-family: "NY-Small";
  src: url("./assets/fonts/NY-Small.woff");
}
@font-face {
  font-family: "SF-Mono";
  src: url("./assets/fonts/SF-Mono.woff");
}
@font-face {
  font-family: "SF-Prodisplay";
  src: url("./assets/fonts/SF-Prodisplay.woff");
}
@font-face {
  font-family: "SFProText-Heavy";
  src: url("./assets/fonts/SFProText-Heavy.woff");
}
@font-face {
  font-family: "SFProText-Regular";
  src: url("./assets/fonts/SFProText-Regular.woff");
}
@font-face {
  font-family: "Zeit-Light";
  src: url("./assets/fonts/Zeit-Light.woff");
}

::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #b1b0b0;
}

.link-editor {
  position: absolute;
  width: 50%;
  left: 50% !important;
  transform: translate(-50%, 0);
  @apply mx-auto bg-gray-500 sm:w-4/6;
}

.character-style-popup {
  position: absolute;
  left: 50% !important;
  top: 300px !important;
  transform: translate(-50%, 0);
  @apply flex items-center mx-auto xs:w-[80%] xs:overflow-x-auto xs:h-[3rem] xs:p-0;
}

iframe {
  @apply mx-auto;
}

.ContentEditable__root {
  @apply min-h-[30rem];
}
/* #twitter-widget-0 {
  display: flex;
  justify-content: center;
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 auto !important;
  background: yellow;
} */

/* .toolbar button.toolbar-item {
  background-color: blue;;
} */

/* vanilla css for footer item child elements */
@layer components {
  .navlink {
    @apply h-full px-4 flex items-center hover:text-gray-400;
  }
  .navlinks {
    @apply hover:text-gray-400 uppercase font-extrabold;
  }

  /* Verbum editor styling */

  .editor-shell {
    @apply w-full min-h-[30rem] font-nymedium rounded-tr-[10px] rounded-tl-[10px] ring-gray-700 ring-offset-2 ring-2 border-2 transition focus-within:border-emerald-300 focus-within:ring-emerald-300 focus-within:shadow-emerald-300 focus-within:shadow-[0_0_25px];
  }

  .editor-shell .editor-container {
    @apply border-2;
  }

  .toolbar {
    @apply w-full px-2 flex items-center justify-start gap-1 border-2 h-[3.5rem] text-white;
  }
  .toolbar button.toolbar-item,
  .toolbar select.toolbar-item {
    @apply bg-white border-2 border-blue-300 ring-2 ring-gray-700 ring-offset-2 focus:outline-none;
  }
  .toolbar select.toolbar-item {
    @apply mr-3 w-[5rem];
  }

  .toolbar::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
  }

  /* Chrome, Safari and Opera */
  .scroll-no::-webkit-scrollbar {
    width: 2px;
  }

  .scroll-no {
    -ms-overflow-style: 2px; /* IE and Edge */
    scrollbar-width: 2px; /* Firefox */
  }
}
