@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Familys */
@font-face {
  font-family: "NY-ExtraLarge";
  src: url("./assets/fonts/NY-Extralarge.woff");
}
@font-face {
  font-family: "NY-Medium";
  src: url("./assets/fonts/NY-Medium.woff");
}
@font-face {
  font-family: "NY-Small";
  src: url("./assets/fonts/NY-Small.woff");
}
@font-face {
  font-family: "SF-Mono";
  src: url("./assets/fonts/SF-Mono.woff");
}
@font-face {
  font-family: "SF-Prodisplay";
  src: url("./assets/fonts/SF-Prodisplay.woff");
}
@font-face {
  font-family: "SFProText-Heavy";
  src: url("./assets/fonts/SFProText-Heavy.woff");
}
@font-face {
  font-family: "SFProText-Regular";
  src: url("./assets/fonts/SFProText-Regular.woff");
}
@font-face {
  font-family: "Zeit-Light";
  src: url("./assets/fonts/Zeit-Light.woff");
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #b1b0b0;
}

/* vanilla css for footer item child elements */
@layer components {
  .navlink {
    @apply h-full px-4 flex items-center hover:text-gray-400;
  }
  .navlinks {
    @apply  hover:text-gray-400 uppercase font-extrabold;
  }

  /* styles for scroll ticker */
  .tick {
    /* overflow: hidden; */
    /* animation: ticking 35s linear infinite; */
  }

  @keyframes ticking {
    0% {transform: translateX(0);}
    100% {transform: translateX(-300vw);}
  }

  /* Chrome, Safari and Opera */
  .scroll-no::-webkit-scrollbar {
    width: 2px;
  }

  .scroll-no {
    -ms-overflow-style: 2px; /* IE and Edge */
    scrollbar-width: 2px; /* Firefox */
  }
}
